<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seguridad RUM App - Producción</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50">
    <header>
        <nav class="bg-slate-900 p-4 text-white flex justify-between items-center shadow-lg">
            <span class="font-bold tracking-wider text-xl">🛡️ SECURITY-NET (Auto-instrumentado)</span>
            <div>
                @if (Context.Session.GetString("UsuarioLogueado") != null)
                {
                    <span class="text-slate-400 mr-4">User: <b class="text-white">@Context.Session.GetString("UsuarioLogueado")</b></span>
                    <a href="/Home/Logout" class="bg-red-500 hover:bg-red-600 px-3 py-1 rounded text-sm transition">Salir</a>
                }
            </div>
        </nav>
    </header>

    <main class="container mx-auto mt-10 p-4">
        @RenderBody()
    </main>

    </body>
</html>